:root {
    --red: #FF2800;
    --black: #000000;
}

@font-face {
  font-family: 'body';
  src: url(body.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: var(--red);
    color: var(--black);
    text-transform: uppercase;
    font-family: 'body', Arial, sans-serif;
    font-size: 14px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

section {
    padding: 0 1em;
}

a {
    color: currentColor;
    text-decoration: none;
}

p {
    margin: 0;
}